@charset "UTF-8";
/**
 * 
 * @authors Claus Chen (245618722@qq.com)
 * @date    2017-11-27 11:40:40
 * @version $Id$
 */

ul.claus-pagination{
	padding:0;
	text-align: center;
}

li.claus-pagination-prev {
	margin: 5px auto;
	display: inline-block;
	width: 100%;
}
li.claus-pagination-prev a, li.claus-pagination-prev span {
	display: inline-block;
}

span.highlighted {
	color: red;
}

img.am-radius {
	border-radius: 20px;
}

.claus-domain {
	font-size:50px;
	letter-spacing: 2px;
	font-weight: normal;
}

.claus-title {
	margin-left: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}

ul.am-dropdown-content li a:hover {
	color: #10D07A;
}

img.claus-entry-img {
	width: 124px;
	height: 124px;
}

img.claus-donateimg {
	width: 100%;
	height: auto;
}

div.claus-donate {
	width: 40%;
	float: left;
	margin: 35px;
}

div.claus-donate {
	text-align: center;
}

span.claus-login{
	font-weight: normal;
	font-size: 13px;
	position: relative;
	left:450px;
}

a.logout, a.login, a.register{
	color:#c36855;
}
a.logout:hover, a.login:hover, a.register:hover{
	color:#10D07A;
}

p.about-p{
	text-align: center;
}

div.about-item{
	margin-left: 30px;
	margin-bottom: 15px;
	width: 100%;
	float:left;
}

div.about-item div{
	float:left;
}

div.about-progress{
	background-color:#eee;
	height: 34px;
}

div.about-progress div{
	line-height: 34px;
	font-size:15px;
	text-align: right;
	padding-right: 10px;
}

span.about-icon{
	margin:20px;
}