@charset "UTF-8";
/**
 * 
 * @authors Claus Chen (245618722@qq.com)
 * @date    2017-11-27 11:40:40
 * @version $Id$
 */

ul.claus-pagination{
	padding:0;
	text-align: center;
}

li.claus-pagination-prev {
	margin: 5px auto;
	display: inline-block;
	width: 100%;
}
li.claus-pagination-prev a, li.claus-pagination-prev span {
	display: inline-block;
}

span.highlighted {
	color: red;
}

img.am-radius {
	border-radius: 20px;
}

.claus-domain {
	font-size:50px;
	letter-spacing: 2px;
	font-weight: normal;
}

.claus-title {
	margin-left: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}

ul.am-dropdown-content li a:hover {
	color: #10D07A;
}

img.claus-entry-img {
	width: 124px;
	height: 124px;
}