{% extends 'base.html' %}

{% block main %}

    <div class="am-u-md-12 am-u-sm-12">
    	<div style="font-size: 20px; margin:10px;">关于自己</div>
    	<h2 style="text-align: center; background-color: #fbfbfb; margin-top:0px;">个人简介</h2>
    	<p style="text-align: center; margin-top: 50px;"><img class="am-circle" style="width:120px;" src="/media/images/other/20171204111036_67.jpg" alt="头像"></p>
    	<p class="about-p">陈枭</p>
    	<p class="about-p">热爱学习，喜好足球，充满激情</p>
    	<p class="about-p">毕业后偶然重拾编程，豁然开朗</p>
		<p class="about-p">追求卓越，成功总会不期而遇</p>
		<h2 style="text-align: center; background-color: #fbfbfb; margin-top:40px; margin-bottom: 40px;">技能树</h2>
		<div class="about-item">
			<div class="describe" style="width:12%;">网络通信</div>
			<div class="am-progress about-progress" style="width:70%">
				<div class="am-progress-bar" style="width:80%; background-color:#c36855;">80%</div>
			</div>
		</div>
		<div class="about-item">
			<div class="describe" style="width:12%;">H5/JS/CSS</div>
			<div class="am-progress about-progress" style="width:70%">
				<div class="am-progress-bar" style="width:58%; background-color:#5ac957;">58%</div>
			</div>
		</div>
		<div class="about-item">
			<div class="describe" style="width:12%;">PYTHON</div>
			<div class="am-progress about-progress" style="width:70%">
				<div class="am-progress-bar" style="width:63%; background-color:#cdb670;">63%</div>
			</div>
		</div>
		<div class="about-item">
			<div class="describe" style="width:12%;">MYSQL/LINUX</div>
			<div class="am-progress about-progress" style="width:70%">
				<div class="am-progress-bar" style="width:49%; background-color:#3ba9b0;">49%</div>
			</div>
		</div>
		<div class="about-item">
			<div class="describe" style="width:12%;">OFFICE</div>
			<div class="am-progress about-progress" style="width:70%">
				<div class="am-progress-bar" style="width:68%; background-color:#963dbe;">68%</div>
			</div>
		</div>
		
		<h2 style="text-align: center; background-color: #fbfbfb; margin-top:420px; margin-bottom: 40px;">与我联系</h2>
		<div style="padding-bottom: 20px; text-align: center;">
            <a href="tencent://message/?uin=245618722&Site=www.ik38.com&Menu=yes" target="_blank"><span class="am-icon-qq am-icon-lg about-icon "></span></a>
            <a href="https://github.com/clauschen121/" target="_blank"><span class="am-icon-github am-icon-lg about-icon"></span></a>
            <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=polangchx@163.com" target="_blank"><span class="am-icon-envelope am-icon-lg about-icon"></span></a>
            <div class="am-dropdown" data-am-dropdown>
              <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;"><span class="am-icon-weixin am-icon-lg about-icon" ></span></a>
              <ul class="am-dropdown-content">
                <li class="am-dropdown-header"><img style="width: 204px; height: 204px;" src="/media/images/other/20171204160831_11.png" alt="微信联系方式"></li>
              </ul>
            </div>
        </div>
		
    </div>


{% endblock main %}

{% block sidebar %}
{% endblock sidebar %}
