{% extends 'base.html' %}

{% block main %}
<div class="am-u-md-8 am-u-sm-12">
	<h2>赞助</h2>
	<p>如果你认为本站博文质量不错，读后有所收获，不妨小额赞助博主一下，鼓励博主继续写出更多高质量的博文</p>
	<hr>
	<p>赞助方式分为两种，一种是微信赞助，一种是支付宝赞助</p>
	<hr>
	<div class="claus-donate">
		<h3>赞助方式一：微信</h3>
		<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
			<ul class="am-tabs-nav am-cf">
			  <li class="am-active"><a href="[data-tab-panel-0]">¥3.99</a></li>
			  <li class=""><a href="[data-tab-panel-1]">¥9.99</a></li>
			  <li class=""><a href="[data-tab-panel-2]">¥19.99</a></li>
			  <li class=""><a href="[data-tab-panel-3]">¥ANY</a></li>
			</ul>
			<div class="am-tabs-bd">
			  <div data-tab-panel-0 class="am-tab-panel am-active">
			    <a href="/media/images/20171205155343_31.png" target="_blank"><img class="claus-donateimg" src="/media/images/20171205155343_31.png" alt="微信赞助3.99"></a>
			  </div>
			  <div data-tab-panel-1 class="am-tab-panel ">
			  	<a href="/media/images/20171205151025_98.png" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151025_98.png" alt="微信赞助9.99"></a>
			  </div>
			  <div data-tab-panel-2 class="am-tab-panel ">
			  	<a href="/media/images/20171205151038_34.png" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151038_34.png" alt="微信赞助19.99"></a>
			  </div>
			  <div data-tab-panel-3 class="am-tab-panel ">
			  	<a href="/media/images/20171205151049_0.png" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151049_0.png" alt="微信赞助ANY"></a>
			  </div>
			</div>
		</div>
	</div>
	<div class="claus-donate">
		<h3>赞助方式二：支付宝</h3>
		<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
			<ul class="am-tabs-nav am-cf">
			  <li class="am-active"><a href="[data-tab-panel-0]">¥3.99</a></li>
			  <li class=""><a href="[data-tab-panel-1]">¥9.99</a></li>
			  <li class=""><a href="[data-tab-panel-2]">¥19.99</a></li>
			  <li class=""><a href="[data-tab-panel-3]">¥ANY</a></li>
			</ul>
			<div class="am-tabs-bd">
			  <div data-tab-panel-0 class="am-tab-panel am-active">
			  	<a href="/media/images/20171205151342_60.jpg" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151342_60.jpg" alt="支付宝赞助3.99"></a>
			  </div>
			  <div data-tab-panel-1 class="am-tab-panel ">
			  	<a href="/media/images/20171205151454_44.jpg" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151454_44.jpg" alt="支付宝赞助9.99"></a>
			  </div>
			  <div data-tab-panel-2 class="am-tab-panel ">
			    <a href="/media/images/20171205151517_28.jpg" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151517_28.jpg" alt="支付宝赞助19.99"></a>
			  </div>
			  <div data-tab-panel-3 class="am-tab-panel ">
			     <a href="/media/images/20171205151534_67.jpg" target="_blank"><img class="claus-donateimg" src="/media/images/20171205151534_67.jpg" alt="支付宝赞助ANY"></a>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock main %}