{% extends 'base.html' %}
{% load blog_tags %}

{% block main %}
    <div class="am-u-md-8 am-u-sm-12">
    {% for article in article_list %}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <a href="{{ article.get_absolute_url }}"><img src="{{ article.image.img.url }}" alt="{{ article.image.name }}" class="am-u-sm-12"></a>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="{% url 'blog:category' article.category.pk %}" class="blog-color">{{ article.category.name }} &nbsp;</a></span>
                <span> <a href="{% url 'blog:author' article.author.pk %}">@{{ article.author }} &nbsp;</a></span>
                <span>{{ article.created_time }}</span>
                <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
                <p>{{ article.excerpt }}</p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
    {% empty %}
        暂无文章
    {% endfor %}
    {% if is_paginated %}
        <ul class="am-pagination blog-article-margin claus-pagination">
          <li class="am-pagination-prev claus-pagination-prev">
          {% if first %}
            <a href="?page=1">1</a>
          {% endif %}
          {% if left %}
            {% if left_has_more %}
              <span>...</span>
            {% endif %}
            {% for i in left %}
              <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
          {% endif %}
          <a href="?page={{ page_obj.number }}" style="color: #10D07A; background-color: #eee;">{{ page_obj.number }}</a>
          {% if right %}
            {% for i in right %}
              <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if right_has_more %}
              <span>...</span>
            {% endif %}
          {% endif %}
          {% if last %}
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
          {% endif %}

          <!-- <li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li> -->
        </ul>
    {% endif %}
    </div>
{% endblock main %}
 